<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan darken-3" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">MTRAINING</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/student']">CourseHome</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['mycourse']">MyCourses</a>
        </li>
      </ul>
      <!-- Links -->
      <ul class="nav navbar-nav navbar-right fontbold" *ngIf="!notLogin">
          <!-- login button -->
          <li class="nav-item">
              <a class="nav-link waves-light">
                <span>
                  <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                  {{currentUser.username}}
                </span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect (click)="logout();">Log Out</a>
          </li>

        </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
